#* Ignorar la carpeta (Archivos de uso Personal)
/data

#* Ignorar Archivos innecesarios (FileTreeGen)
/tool/src/FileTreeGen/bin/FileTreeGen.conf
/tool/src/FileTreeGen/bin/output.md
/tool/src/FileTreeGen/bin/*.tmp
/tool/src/FileTreeGen/*.tmp

#; Ignorar archivos de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#; Ignorar directorio node_modules
/node_modules

#; Ignorar archivos de construcción
dist
build

#; Ignorar directorios de entornos de desarrollo local
.env
.env.local
.env.*.local

#; Ignorar directorios y archivos específicos del sistema operativo
.DS_Store
Thumbs.db

#; Ignorar archivos específicos de editores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#; Ignorar archivos de salida de TypeScript
*.tsbuildinfo
